body{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pentagon{
    height: 0;
    width: 160px;
    border-top: 160px solid white;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    position: relative;
}
.pentagon::before{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-bottom: 160px solid white;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    bottom: 160px;
    left: -80px;
}
footer {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
footer a {
  text-decoration: none;
  color: #536DFE;
}
footer a:hover {
  text-decoration: underline;
  color: #000
}